<module>
    <rawname>cdretention</rawname>
    <repo>local</repo>
    <name>CDR Retention policy</name>
    <version>1.0.3</version>
    <publisher>NST Group</publisher>
    <license>GPLv3+</license>
    <description>Limpia registros antiguos de la tabla CDR basados en una configuración de días.</description>
    <menuitems>
        <cdretention>CDR Retention</cdretention>
    </menuitems>
    <category>Admin</category>
</module>